body{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* border box allows for more intuitive box sizing*/
* {
    box-sizing: border-box;
  }
  

.responsive-three-column-grid {
    display:block;
    column-gap:10px;
    text-align: center;
    height: auto;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

.left-col{
    background-color:orange;
}
.mid-col{
    background-color:yellow;
}
.right-col{
    background-color:greenyellow;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.center-align-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    gap:10px;
}

.welcome-text {
    text-align: center;
    width: 100%;
}

.image-button {
    position: absolute;
    left: 0;
    margin-right:0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    vertical-align:middle;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined.md-48 { font-size: 48px; }

.guide-text{
    color: grey;
    margin-left: 0; 
}