body{
    background-image: url(../images/sand-textures-background.jpg);
    background-size:     cover;                      
    background-repeat:   repeat;
    background-position: center center;               

    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* border box allows for more intuitive box sizing*/
* {
    box-sizing: border-box;
  }
  

.responsive-three-column-grid {
    display:block;
    column-gap:10px;
    text-align: center;
    height: auto;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
    height: 450px;
    border-radius: 20px;
}

.left-col{
    background-color: rgb(255, 165, 0, 0.3);
}

.mid-col{
    background-color:rgb(255, 255, 0, 0.3);
}

.right-col{
    background-color:rgb(154, 205, 50, 0.3);
}

/* hover styles */
.left-col:hover{
    background-color:rgb(255, 165, 0, 0.6);
}

.mid-col:hover{
    background-color:rgb(255, 255, 0, 0.6);
}

.right-col:hover{
    background-color:rgb(154, 205, 50, 0.6);
}


/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.center-align-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    gap:10px;
}

.welcome-text {
    text-align: center;
    width: 100%;
}

.image-button {
    position: absolute;
    left: 0;
    margin-right:0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    vertical-align:middle;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined.md-48 { font-size: 48px; }

.guide-text{
    color: grey;
    margin-left: 0; 
}

.text{
    opacity: 100%;
}

button.add{
    display: inline-block;
    margin-right: 10px;
    background-color:rgb(0,255,0, 0.5);
    border-color: rgb(0,255,0, 0.5);
    border-radius: 100px;
    border-width: 2px;
    cursor:pointer;
}

textarea{
    display:inline-block;
    width:100%;
    padding:6px 6px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    resize:none;
}

textarea:focus{
    background-color: beige;
}

.flex-container{
    display:flex;
    flex-direction:row;
}



/* styles for task blocks */

button.delete {
    display: inline-block;
    margin-right: 10px;
    background-color:rgb(255,0,0, 0.5);
    border-color: rgb(255,255,0, 0.5);
    /* height:100px; */
    border-radius: 100px;
    border-width: solid 1.5px;
    cursor:pointer;
}

li {
    display:inline-block;
    background-color: white;
    padding: 12px 12px;
    border-radius: 10px;
}

ul {
    padding: 0;
    list-style-type: none;
}